.navbar{
    display: flex;
    color:rgb(24, 8, 39);
    background-color: rgb(154, 211, 220);
    height: 40px;
    width:auto;
    gap:1000px;
    font-size:large;
}
.nav{
    text-align: right;
    padding-right:10px;
    gap:10px;
}
img{
    width: 350px;
    height: 350px;
    border-radius:50%;
    margin-left:500Px;
    box-shadow: 6px 6px 6px 6px rgb(97, 88, 103);
}
.about{
    background-image:url(annie-spratt-6a3nqQ1YwBw-unsplash.jpg) ;
}
.skills h1{
    margin-top: 50px;
    margin-left: 600px;
    color:rgb(190, 129, 196);
}
#c{

    width: 350px;
    height: 350px;
    border-radius:50%;
    margin-left:50Px;
    box-shadow: 6px 6px 6px 6px rgb(142, 103, 176);
}
#js{
    width: 350px;
    height: 350px;
    border-radius:50%;
    margin-left:130Px;
    box-shadow: 6px 6px 6px 6px white;
}
#java{
    width: 350px;
    height: 350px;
    border-radius:50%;
    margin-left:60Px;
    box-shadow: 6px 6px 6px 6px rgb(114, 186, 202);

}
.skills h1{
   padding:50px;
  
}
.personal h1{
    margin-top: 50px;
    margin-left: 600px;
    color:rgb(190, 129, 196);
}
.personal h2{
  margin-top: 30px;
  margin-left: 350px;
  font-family: 'Arima', cursive; 
  font-size: xx-large;
  color: rgb(128, 153, 198);
}
.personal h3{
  margin-top: 0px;
  margin-left: 600px;
  font-family:  'Arima', cursive; 
  font-size: xx-large;
  color:  rgb(128, 153, 198);
}
.personal h4{
  margin-top: 0px;
  margin-left: 450px;
  color: bisque;
  font-family: 'Arima', cursive; 
  font-size: x-large;
 }
 #exam{
    color: rgb(131, 213, 213);
    margin-top: 45px;
    margin-left:240px ;
}



